$main-color : #15B2F6;
$text-color: #343434;
$back-grey : #E5E5E5;
$main-font: 'Raleway', sans-serif;


.contenedor {
    background-image: url("/imagenes/edificios.svg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.contenedor_cotizador {
    width: 90%;
    margin: auto;
    padding: 40px;
}
.titulo-imagen {
    display: flex;
    justify-content: space-between;
    h1 {
        width: 45%;
        font-family: $main-font;
        color: $text-color;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.5em;
    }
    img {
        width: 40%;
    }
}
@media (max-width: "1280px") {
    .titulo-imagen {
        h1 {
            font-size: 3.5rem;
        }
        img {
            width: 35%;
        }
    }
}
@media (max-width: "1097px") {
    .titulo-imagen {
        h1 {
            font-size: 3rem;
        }
    }
}
@media (max-width: "950px") {
    .titulo-imagen {
        h1 {
            font-size: 2.5rem;
        }
    }
}
@media (max-width: "880px") {
    .titulo-imagen {
        flex-direction: column;
        h1 {
            width: 100%;
            font-size: 3.5rem;
            text-align: center;
            margin: auto;
        }
        img {
            width: 70%;
            display: block;
            margin: auto;
        }
    }
}
@media (max-width: "568px") {
    .titulo-imagen {
        h1 {
            font-size: 2.5rem;
        }
    }
}
@media (max-width: "426px") {
    .titulo-imagen {
        h1 {
            font-size: 2rem;
        }
    }
}
@media (max-width: "350px") {
    .titulo-imagen {
        h1 {
            font-size: 1.5rem;
        }
    }
}
.selecSeguros {
    display: flex;
    justify-content: space-between;
    .selec {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $main-font;
        font-weight: 600;
    }
    .selec.activo {
        .selec_cir {
            border: 1px solid $main-color;
        }
        i {
            color: $main-color;
        }
    }
    .selec_cir {
        border-radius: 100%;
        padding: 24px;
        background-color: white;
        border: 1px solid white;
        cursor: pointer;
        i {
            font-size: 25px;
            color: $text-color;
        }
    }
    .selec_cir:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.103);
        transition: .3s;
        i {
            color: $main-color;
            transition: .3s;
        }
    }
}
@media (max-width: "426px") {
    .selecSeguros {
        .selec_cir {
            padding: 18px;
        }
    }
    input, select {
        padding: 10px;
        margin-bottom: 8px;
    }
    .btnAgregar, .btnConfirmar {
        padding: 10px;
        margin-bottom: 8px;
    }
    .polizas {
        .poliza {
            font-size: 15px;
        }
    }
}
@media (max-width: "350px") {
    .titulo-imagen {
        h1 {
            font-size: 1.5rem;
        }
    }
    .selecSeguros {
        .selec_cir {
            padding: 16px;
            i {
                font-size: 20px;
            }
        }
    }
    input, select {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 8px;
    }
    .btnAgregar, .btnConfirmar {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 8px;
    }
}
.calculador {
    margin: 40px 0 0 0 ;
    display: flex;
    justify-content: space-between;
    .form {
        width: 45%;
        display: none;
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            input, select {
                padding: 12px;
                outline: none;
                border: 2px solid #343434;
                border-radius: 10px;
                margin-bottom: 10px;
                background-color: $text-color;
                color: white;
            }
            .btnAgregar, .btnConfirmar {
                padding: 12px;
                outline: none;
                border: 2px solid #343434;
                border-radius: 10px;
                margin-bottom: 10px;
                background-color: $text-color;
                color: white;
            }
            .btnConfirmar:hover, .btnAgregar:hover {
                background-color: #343434b7;
                transition: .2s;
            }
        }
    }
    .form.activo {
        display: block;
    }
    .polizas {
        width: 45%;
        max-height: 400px;
        overflow-y: scroll;
        background-color: $text-color;
        border: 2px solid white;
        color: white;
        border-radius: 10px;
        padding: 12px;
        .poliza {
            width: 100%;
            padding-top: 10px;
            color: white;
            font-family: $main-font;
            line-height: 1.5em;
            font-size: 15px;
        }
    }
}
@media (max-width: "820px") {
    .calculador {
        flex-direction: column;
        .form {
            width: 100%;
        }
        .polizas {
            width: 100%;
            margin-top: 25px;
        }
    }
}
input:focus {
    border: 2px solid $main-color;
}
.btnS input:hover {
    background-color: #343434b7;
    transition: .2s;
}
.btnS input {
    padding: 12px;
    outline: none;
    border: 2px solid #343434;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: $text-color;
    color: white;
}
.modal .modal-body {
    .modal_imagen {
        width: 45%;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .form_polizas {
    display: flex;
    flex-direction: column;
        input  {
            padding: 12px;
            outline: none;
            border: 2px solid #343434;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: $text-color;
            color: white;
        }
    }
}